:javascript
  function setFwdFlag(value) {
    document.getElementsByName("fwd_flag")[0].value = value;
  }

  function setRingsForSeconds(value) {
    document.getElementsByName("rings_for_seconds")[0].value = value;
  }

%table.centered
  %tr
    %td
      %a{:href => "logout"}="Logout"
      %td
  %tr
    %td
      %br
  %tr
    %td
      %label="Username: "
    %td="#{session[:usrename]}"
  %tr
    %td
      %label="Phone Number:"
    %td="#{session[:phone_number]}"
  %tr
    %td
      %label="Rings for (seconds):"
    %td
      %select{:name => 'callForwardingSeconds', :onclick => "setRingsForSeconds(this.value);"}
        - (1..50).each do |index|
          - attrs = {:value => index}
          - attrs.merge!({:selected => true}) if session[:rings_for_seconds] == index.to_s
          %option{attrs}=call_forwarding_seconds_as_text(index)
        end

  %form{:action => "/call_fwd", :method => "post"}
    %input{:type => 'hidden', :name => 'username', :value => session[:usrename]}
    %input{:type => 'hidden', :name => 'password', :value => session[:password]}
    %input{:type => 'hidden', :name => 'phone_number', :value => session[:phone_number]}
    %input{:type => 'hidden', :name => 'rings_for_seconds', :value => session[:rings_for_seconds]}
    %input{:type => 'hidden', :name => 'fwd_flag'}

    %tr
      %td
        %label{:for => "forwarding_number"}= "Forwarding Number:"
      %td
        %input{:name => "forwarding_number", :value => session[:forwarding_number]}
    %tr
      %td
        %br
    %tr
      %td
        %button{:type => "submit", :onclick => "javascript:setFwdFlag(true);"}="Enable/Update"
      %td
        %button{:type => "submit", :onclick => "javascript:setFwdFlag(false);"}="Disable"
    - if session[:message]
      %tr
        %td
          %label="Message: "
        %td
          %b="#{session[:message]}"