!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title= "Call Forwarding"
    %link{ :href =>"/stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    #container
      %p#title=page.page_title if defined?(page.page_title)
      %p

      = yield