%table.centered
  %form{:action => "/login", :method => "post"}
    %tr
      %td
        %label{:for => "username"}= "Username: "
      %td
        %input{:name => "username"}
    %tr
      %td
        %label{:for => "password"}= "Password: "
      %td
        %input{:name => "password", :type => "password"}
    %tr
      %td{:colspan => 2}
        %button{:type => "submit"}="Submit"